<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="keywords" content="Capulong Farms, Philippines farm, organic farm, organic, philippines farming, Candaba farm, Pampanga produce, farm to table, farm to consumer, business to consumer, b2c, organic vegetables, livestock, farm training, Lanang farm" />
    <meta name="author" content="Capulong Farms Org." />
    <meta name="robots" content="index, follow" />
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    {{ partial "header.html" . }}
    
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    
    {{ partial "footer.html" . }}
    {{ partial "whatsapp-button.html" . }}
</body>
</html>
